/* url('https://i.redd.it/5pr2d6fopii31.jpg') */
body{
   background-image:radial-gradient( rgb(33, 4, 33), black);
   background-size: cover;
   backdrop-filter: blur(12px);
}

.App {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}