

#input{
    padding: 0.25em 0.5em;
    background-color: rgba(231, 98, 216, 0.543);
    border: 2px solid pink;
    border-radius: 4px;
    max-width: 70%;
}
.bar .button {
    border: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    background-color: rgb(255, 255, 255);
    filter: contrast(120%);
    font-size: x-large;
    font-style: bold;
    height:35px;
    width:35px;
    background-size: 50px 50px;
    background-position:center;
    border-radius: 10%;
}