body {
    background: rgb(18, 17, 18);
}
.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subtitle {
    margin: auto;
	display: table;
}

#subtitle p{
    position: relative; 
	font-weight: lighter;
    float: center;
	color: #fff;
	font-size: 18px;
}
#subtitle p span {
    position:absolute;
    right:0;
    width:0;
    background: rgb(6, 136, 14);
    border-left: 1px solid #e6dfdf;
    animation: escribir 3s steps(30) infinite alternate;
}
@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}

.presentation #title {
    filter: contrast(180%);
    width: 30px;
    height: 15px;
    max-width: 700px;
    max-height: 350px;
    margin: 0 auto auto;
    padding-left: 2%;
    position: relative;
    animation: title 5s ease-in-out 20ms 1 normal forwards;
}

@keyframes title {
    from {
        width: 30px;
        height: 15px;
    }
    to {
        width: 500px;
        height: 400px;
        
    }
}



.presentation #endMessage{
    padding-top: 15%;
    position: relative;
    font-family: roboto;
    font-size: 15px;
    color: white;
}